body {
  font-family: "Roboto Mono", monospace;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 16px;
}

a {
  text-decoration: none;
}

li:first-letter {
  text-transform: capitalize;
}

.heading {
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  display: inline;
}

.subheading {
  font-size: 20px;
  text-align: left;
}

.temp {
  position: relative;
  font-size: 45px;
  font-weight: bold;
  top: 10px;
}

.units {
  position: relative;
  font-size: 24px;
  top: -5px;
  font-weight: 600;
  text-align: center;
}

.search-form {
  position: fixed;
  top: 50px;
  right: 75px;
  text-align: right;
}

.main-section {
  margin: 125px auto;
  border: 1px solid black;
  border-radius: 4px;
  padding: 18px 20px 30px;
  max-width: 700px;
}

.description {
  font-size: 20px;
}

.right-side {
  text-align: right;
}

.right-subheading {
  padding-top: 30px;
}

.weather-icon {
  width: 100px;
}

.units .active {
  color: black;
  cursor: default;
  padding: 0;
}

.units .active:hover {
  text-decoration: none;
}
.inline {
  display: inline;
}

.unitC {
  margin-right: 4px;
}

.weather-forecast {
  text-align: center;
}
